.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @import url("./global.css");

.home-container {
  display: flex;
  gap:50px;
  align-items: flex-end;
  height:auto;
  width: 100%;
  padding: 49px 60px
}
.font-pic {
  display: flex;
  align-items: center;
  gap:97px;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  font-family: "Neue Haas Display Light", Helvetica, sans-serif;
  max-width: 326px;
}
.button-frame {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  gap:50px;
  flex-direction: column;
position: relative;
} */
