@font-face {
    font-family: "Neue Haas Display Light";
    src: url("./fonts/NeueHaasDisplayLight.ttf")
      format("truetype");
      /* font-weight: 45; */
      font-style: normal;
  }

  @font-face {
    font-family: "Neue Haas Display Medium";
    src: url("./fonts/NeueHaasDisplayMediu.ttf")
      format("truetype");
      /* font-weight: 65; */
      font-style: normal;
  }

  @font-face {
    font-family: "Neue Haas Display Bold";
    src: url("./fonts/NeueHaasDisplayBold.ttf")
      format("truetype");
      font-weight: 75;
      font-style: normal;
  }